<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
<h2 style="text-align: center;">Library Database</h2><br><br>

<h3>Choose an option:</h3><br><br>



<form id="form_menu" action="/reader_login" enctype="multipart/form-data" method="GET">
    <button type="submit">READER</button><br><br>   
</form>

<form id="form_menu" action="/admin_login" enctype="multipart/form-data" method="GET">
    <button type="submit">ADMIN</button><br><br>   
</form>

<!-- <form id="form_menu" action="/menu" enctype="multipart/form-data" method="GET">
    <input type="text" id="id" name="Id" required>
    <input type="text" id="name" name="Name" required>
    <input type="radio" id="reader" name="Person_type" value="READER">
    <label for="reader">Reader</label><br>
    <input type="radio" id="admin" name="Person_type" value="ADMIN">
    <label for="admin">Admin</label><br>

    <button type="submit" >Submit</button><br><br>
</form> -->





</body>
</html>