<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reader Login</title>
</head>

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
    font-size: small;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

<body>

<h2 align="center">Login Page</h2>
<table>


<h2>Login </h2><br><br>

<form id="form_book" action="/reader_login_auth" enctype="multipart/form-data" method="GET">
    <input type="text" id="id" name="Id" placeholder="Reader Id" >  

    <button type="submit" >Submit</button><br><br>
</form>

<p><b>{{ result }}</b></p><br> 

</body>
</html>