<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>reader Menu</title>
</head>

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
    font-size: small;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

<body>

<h2 align="center">Books Catalog</h2>

<p><b>{{ reader_id }}</b></p><br> 


<table>
<tr>
    <td><b><p>DOC ID</p></b></td>
    <td><b><p>Publisher name</p></b></td>
    <td><b><p> Title</p></b></td>
    <td><b><p> Borrow</p></b></td>
    
    <td><b><p> Reserve</p></b></td>
    

    
</tr>

                 {% for obj in result %}
                <tr>
                <td><p>{{ obj[0] }}</p></td>
                <td><p>{{ obj[1] }}</p></td>
                <td><p>{{ obj[2] }}</p></td>
              <td>
              <a href="/borrowPage/{{obj[0]}}">Borrow</a>
            </td>

            <td>
              <a href="/reservePage/{{obj[0]}}">Reserve</a>
            </td>
                </tr>
                 {% endfor %}
</table><br><br>




<h2>Login </h2><br><br>

<form id="form_book" action="/reader_menu" enctype="multipart/form-data" method="GET">
  <label for="search_type">Choose search type</label>

  <select name="search_type" id="search_type">
    <option value="Id">Id</option>
    <option value="Title">Title</option>
    <option value="Publisher_name">Publisher name</option>
  </select>


  <input type="text" name="SearchType" id="searchTypeText" required>
  <button type="submit" id="SearchTypeButton">Submit</button>
</form>


<br> 

<!-- <form id="borrow_book" action="/borrow_this_book" enctype="multipart/form-data" method="post">
    Library Staff SSN:<br>
    <input type="number" name="Lib_SSN" required><br>

    Book ISBN:<br>
    <input type="number" name="book_ISBN" required><br>

    Member SSN:<br>
    <input type="number" name="mem_SSN" required><br><br>

    <button type="submit" id="borrowbutton">Submit</button>

</form>

<p><b>{{ result }}</b></p><br> -->


</body>
</html>